<!DOCTYPE html>
<html>
<head>
  <title>About Us | Shopsphere</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>
<body style="background-image: url('/static/about1.jpeg')">
  <div class="container">
    <h1>About Us</h1>
    <div class="about-section">
      <strong>Welcome to SHOPSPHERE, your one-stop online shop for high-quality products. We are a small team of dedicated individuals who are passionate about providing our customers with exceptional service and a wide range of products to choose from. We believe that online shopping should be convenient, enjoyable, and reliable. Thank you for choosing us!</strong>
    </div>
    <div class="values-section">
      <div class="value-card">
        <h3>Quality</h3>
        <p>We are committed to offering only the best products to our customers. Each product is carefully selected and tested to ensure its quality, durability, and reliability.</p>
      </div>
      <div class="value-card">
        <h3>Customer Satisfaction</h3>
        <p>We prioritize our customers and their satisfaction above everything else. We strive to provide excellent customer service, timely shipping, and hassle-free returns to ensure a positive shopping experience.</p>
      </div>
      <div class="value-card">
        <h3>Trustworthiness</h3>
        <p>We believe in building trust with our customers through transparency, honesty, and integrity. We value the trust our customers place in us and work hard to maintain it.</p>
      </div>
    </div>
<!--    <div class="team-section">-->
<!--      <h2>Meet Our Team</h2>-->
<!--      <div class="team-member">-->
<!--        <img src="team_member1.jpg" alt="Team Member 1">-->
<!--        <h4>John Doe</h4>-->
<!--        <p>CEO</p>-->
<!--      </div>-->
<!--      <div class="team-member">-->
<!--        <img src="team_member2.jpg" alt="Team Member 2">-->
<!--        <h4>Jane Smith</h4>-->
<!--        <p>COO</p>-->
<!--      </div>-->
<!--      <div class="team-member">-->
<!--        <img src="team_member3.jpg" alt="Team Member 3">-->
<!--        <h4>Michael Brown</h4>-->
<!--        <p>CFO</p>-->
<!--      </div>-->
    </div>
  </div>
</body>
</html>
