<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
<h1 align="center">Login Page</h1>
<form action="{{ url_for('main') }}" method="post">
<label>Username</label>
<input value=" " placeholder="Enter username" type="text" name="username">
<label>Password</label>
<input value="" type="password" name="password">
</form>
<!--{{data}}-->
{% for p in data%}
   <h4>
    {{p[2]}} <br>
    ------------------
   </h4>
{% endfor %}

<button>Login</button>
</body>
</html>