<!DOCTYPE html>
<html>
<head>
  <title>Your Orders</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='productstyle.css') }}">
</head>
<body style="background-image: url('/static/product.png')">
  <h1>Your Orders</h1>
  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Order Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for product in dataproduct %}
      <tr>
        <td>{{ product[0] }}</td>
        <td>{{ product[2] }}</td>
        <td>{{ product[3] }}</td>
        <td>{{ product[7] }}</td>
        <td><button class="buy-button" >Cancel Order</button></td>
      </tr>
      {% endfor %}
    <button  onclick="window.location.href='{{ url_for('main',ssn=cssn) }}'">Home</button>

    </tbody>
  </table>
</body>
</html>
