<!DOCTYPE html>
<html>
<head>
  <title>Your Orders</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='productstyle.css') }}">
</head>
<body style="background-image: url('/static/product.png')">
  <h1>Your Orders</h1>
  {{dataproduct}}
  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>CSSN</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product[0] }}</td>
        <td>{{ product[1] }}</td>
        <td>{{ product[2] }}</td>
        <td><button class="buy-button" >Cancel Order</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
